# SPDX-FileCopyrightText: 2026 Dominik Wombacher <dominik@wombacher.cc>
#
# SPDX-License-Identifier: CC0-1.0

name: OpenTofu

on:
  push:
    branches: [main]
    paths:
      - '*.tf'
      - '.terraform.lock.hcl'
      - '.params2env.yaml'
      - '.github/workflows/opentofu.yml'
      - 'modules/**/*.tf'
      - 'modules/**/.terraform.lock.hcl'
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: eu-central-1
  AWS_ACCOUNT_ID: '992382418145'
  AWS_ROLE_NAME: GitHubOIDC-domain-mgmt-ResourceAccess
  TOFU_VERSION: '1.11.2'

jobs:
  iac:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/${{ env.AWS_ROLE_NAME }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup OpenTofu
        uses: opentofu/setup-opentofu@v1
        with:
          tofu_version: ${{ env.TOFU_VERSION }}
          tofu_wrapper: false

      - name: OpenTofu Init
        run: tofu init -input=false

      - name: Install params2env
        uses: wombelix/params2env@main

      - name: Load secrets from SSM
        run: params2env read

      - name: OpenTofu Plan
        run: tofu plan -input=false -compact-warnings -out=plan.file

      - name: OpenTofu Apply
        run: tofu apply -input=false -compact-warnings plan.file
